{% extends 'app/base.html' %}

{% block content %}
    <a href="{% url 'app:month' month_previous.year month_previous.month %}">前月</a>
    {{month_current |date:"Y年m月"}} <!-- Djangoのdateフィルタを使って2018年６月のように表示させている。Y:年を４桁で表す。m:月を二桁のゼロ詰で表示する。-->
    <a href="{% url 'app:month' month_next.year month_next.month %}">次月</a>

    <table class="table">
        <thead>
            <tr>
                {% for w in week_names %}
                  <th>{{ w }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for week in month_days %} <!-- 月の全ての日付は二次元なリストなので、forで二回回す必要がある。-->
              <tr>
                  {% for day in week %}
                       {% if now == day %}  <!-- その日が今日なら、という意味。今日ならtrタグに色を付ける。-->
                          <td class="table-success">
                              {% else %}
                          <td>
                       {% endif %}

                     {% if month_current.month != day.month %} <!-- 月を跨いだ日付ならわかりやすくするために、6/1のように表示させている。-->
                        {{day|date:"m/d"}}
                     {% else %}
                        {{day.day}}
                     {% endif %} 

                        </td>
                  {% endfor %}
             </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}